<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.system.dao.RoleResourceRelationDao" >
  <resultMap id="BaseResultMap" type="com.cs.system.entity.RoleResourceRelation" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AUTHORIZE_TYPE" property="authorizeType" jdbcType="DECIMAL" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AUTHORIZE_TYPE, RESOURCE_ID, ROLE_ID, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from C_ROLE_RESOURCE_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from C_ROLE_RESOURCE_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cs.system.entity.RoleResourceRelation" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
       select sys_guid() from dual
    </selectKey> 
    insert into C_ROLE_RESOURCE_RELATION (ID, AUTHORIZE_TYPE, RESOURCE_ID, 
      ROLE_ID, CREATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{authorizeType,jdbcType=DECIMAL}, #{resourceId,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.system.entity.RoleResourceRelation" >
    insert into C_ROLE_RESOURCE_RELATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="authorizeType != null" >
        AUTHORIZE_TYPE,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="authorizeType != null" >
        #{authorizeType,jdbcType=DECIMAL},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.system.entity.RoleResourceRelation" >
    update C_ROLE_RESOURCE_RELATION
    <set >
      <if test="authorizeType != null" >
        AUTHORIZE_TYPE = #{authorizeType,jdbcType=DECIMAL},
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.system.entity.RoleResourceRelation" >
    update C_ROLE_RESOURCE_RELATION
    set AUTHORIZE_TYPE = #{authorizeType,jdbcType=DECIMAL},
      RESOURCE_ID = #{resourceId,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
    <!-- 自定义 -->
  <sql id="conditions" >
  	<where>
  	 <foreach collection="sqlCriterions" item="criterionItem" separator="and" >
  	 	<choose>
  	 		<when test="criterionItem.noValue">
  	 			${criterionItem.condition}
  	 		</when>
  	 		<when test="criterionItem.singleValue">
  	 			${criterionItem.condition} #{criterionItem.value}
  	 		</when>
  	 		<when test="criterionItem.betweenValue">
  	 			${criterionItem.condition} #{criterionItem.value} and #{criterionItem.secondValue}
  	 		</when>
  	 		<when test="criterionItem.listValue">
  	 			 ${criterionItem.condition}
                  <foreach collection="criterionItem.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
  	 		</when>
  	 	</choose>
      </foreach>
  	</where>
  </sql>

  <select id="findAllData" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from C_ROLE_RESOURCE_RELATION
  </select>
  
  <select id="findByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultMap="BaseResultMap">
	select 
	<if test="distinct" >
      distinct
    </if>
	<include refid="Base_Column_List" />
	  from C_ROLE_RESOURCE_RELATION
	<if test="_parameter != null" >
      <include refid="conditions" />
    </if>
    <if test="orderbyClause != null and orderby" >
    	order by
    <foreach collection="orderbyClause" item="listItem" separator=",">
      	 ${listItem}
    </foreach>
    </if>
  </select>
  
  <select id="countByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultType="java.lang.Integer">
   	select count(*) from C_ROLE_RESOURCE_RELATION
    <if test="_parameter != null" >
      <include refid="conditions" />
    </if>
  </select>
  
     <!-- 根据角色Id删除角色资源关联表信息 -->
  <delete id="deleteByRoleId" parameterType="java.lang.String" >
    delete from C_ROLE_RESOURCE_RELATION where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  
   <!-- 根据资源Id删除角色资源关联表信息 -->
  <delete id="deleteByResourceId" parameterType="java.lang.String" >
    delete from C_ROLE_RESOURCE_RELATION where resource_id = #{resourceId,jdbcType=VARCHAR}
  </delete>
  
</mapper>