<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.system.dao.WxConfigDao" >
  <resultMap id="BaseResultMap" type="com.cs.system.entity.WxConfig" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STATION_ID" property="stationId" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="APP_SECRET" property="appSecret" jdbcType="VARCHAR" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="AES_KEY" property="aesKey" jdbcType="VARCHAR" />
    <result column="MCH_ID" property="mchId" jdbcType="VARCHAR" />
    <result column="API_KEY" property="apiKey" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STATION_ID, APP_ID, APP_SECRET, TOKEN, AES_KEY, MCH_ID, API_KEY, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from C_WX_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from C_WX_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cs.system.entity.WxConfig" >
  	<selectKey keyProperty="id" resultType="String" order="BEFORE">  
       select sys_guid() from dual
    </selectKey> 
    insert into C_WX_CONFIG (ID, STATION_ID, APP_ID, 
      APP_SECRET, TOKEN, AES_KEY, 
      MCH_ID, API_KEY, CREATE_DATE
      )
    values (#{id,jdbcType=VARCHAR}, #{stationId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{aesKey,jdbcType=VARCHAR}, 
      #{mchId,jdbcType=VARCHAR}, #{apiKey,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cs.system.entity.WxConfig" >
    insert into C_WX_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="stationId != null" >
        STATION_ID,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="appSecret != null" >
        APP_SECRET,
      </if>
      <if test="token != null" >
        TOKEN,
      </if>
      <if test="aesKey != null" >
        AES_KEY,
      </if>
      <if test="mchId != null" >
        MCH_ID,
      </if>
      <if test="apiKey != null" >
        API_KEY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="aesKey != null" >
        #{aesKey,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null" >
        #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.system.entity.WxConfig" >
    update C_WX_CONFIG
    <set >
      <if test="stationId != null" >
        STATION_ID = #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="aesKey != null" >
        AES_KEY = #{aesKey,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        MCH_ID = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="apiKey != null" >
        API_KEY = #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.system.entity.WxConfig" >
    update C_WX_CONFIG
    set STATION_ID = #{stationId,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      APP_SECRET = #{appSecret,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      AES_KEY = #{aesKey,jdbcType=VARCHAR},
      MCH_ID = #{mchId,jdbcType=VARCHAR},
      API_KEY = #{apiKey,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
      <!-- 自定义 -->
  <sql id="conditions" >
  	<where>
  	 <foreach collection="sqlCriterions" item="criterionItem" separator="and" >
  	 	<choose>
  	 		<when test="criterionItem.noValue">
  	 			${criterionItem.condition}
  	 		</when>
  	 		<when test="criterionItem.singleValue">
  	 			${criterionItem.condition} #{criterionItem.value}
  	 		</when>
  	 		<when test="criterionItem.betweenValue">
  	 			${criterionItem.condition} #{criterionItem.value} and #{criterionItem.secondValue}
  	 		</when>
  	 		<when test="criterionItem.listValue">
  	 			 ${criterionItem.condition}
                  <foreach collection="criterionItem.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
  	 		</when>
  	 	</choose>
      </foreach>
  	</where>
  </sql>

  <select id="findAllData" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from C_WX_CONFIG
  </select>
  
  <select id="findByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultMap="BaseResultMap">
	select 
	<if test="distinct" >
      distinct
    </if>
	<include refid="Base_Column_List" />
	  from C_WX_CONFIG
	<if test="_parameter != null" >
      <include refid="conditions" />
    </if>
    <if test="orderbyClause != null and orderby" >
    	order by
    <foreach collection="orderbyClause" item="listItem" separator=",">
      	 ${listItem}
    </foreach>
    </if>
  </select>
  
  <select id="countByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultType="java.lang.Integer">
   	select count(*) from C_WX_CONFIG
    <if test="_parameter != null" >
      <include refid="conditions" />
    </if>
  </select>
  
  
</mapper>